<header class="container" >
  <img src="assets/img/Matheus.jpg" class="img-fluid rounded-circle img-thumbnail  " alt="Matheus Emanuel - Foto de Perfil" loading="eager"  >

  <h1>Matheus Emanuel</h1>


</header>

<aside class="container m-auto">
  <div class="container">
    <p>Full-Stack Javascript | Angular | Asp Net</p>
    <p>Sou um desenvolvedor Full Stack especializado em Angular no front-end e ASP.NET no back-end. Minha paixão por tecnologia me levou a explorar e construir aplicações robustas, escaláveis e eficientes. Atualmente, estou aprimorando minhas habilidades para ingressar no mercado, focando em boas práticas, arquitetura limpa e desempenho otimizado.</p>
  </div>
  <div>
    <a class="text-uppercase btn btn-primary p" href="www.linkedin.com/in/matheus-emanuel-" target="_blank">linkedin</a>
  </div>
</aside>