<div class="container mt-5">
  <h2>Conhecimentos</h2>
  <ul class="list-unstyled">
    <li><i class="fab fa-angular me-2"></i>Angular</li>
    <li><i class="fab fa-microsoft me-2"></i>ASP.NET</li>
    <li><i class="fab fa-docker me-2"></i>Docker</li>
    <li><i class="fab fa-js me-2"></i>JavaScript</li>
    <li><i class="fab fa-html5 me-2"></i>HTML</li>
    <li><i class="fab fa-css3-alt me-2"></i>CSS</li>
    <li><i class="fab fa-microsoft me-2"></i>Azure</li>
    <li><i class="fab fa-bootstrap me-2"></i>Bootstrap</li>
  </ul>
</div>